<h1>Get Cart Page</h1>
<form th:action="@{/carts/get}">
    <label for="searchName">이름:</label>
    <input id="searchName" type="text" th:name="searchName"/>
    <input type="submit" value="검색">
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>IMG</th>
            <th>ID</th>
            <th>ITEM_NAME</th>
            <th>ITEM_PRICE</th>
            <th>COUNT</th>
            <th>RDATE</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cartDTO : ${cartDTOs.getList()}">
            <td>
                <img th:src="'/img/' + ${cartDTO.item_imgname}"/>
            </td>
            <td th:text="${cartDTO.id}">id</td>
            <td th:text="${cartDTO.item_name}">item_name</td>
            <td th:text="${cartDTO.item_price}">item_price</td>
            <td th:text="${cartDTO.cnt}">count</td>
            <td th:text="${cartDTO.rdate}">rdate</td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    <!-- getPrePage : 이전 페이지 -->
    <li th:classappend="${cartDTOs.getPrePage() == 0} ? 'disabled'">
        <a th:href="@{/cart(pageNum=${cartDTOs.getPrePage()},id=${session.custDTO.id})}">Previous</a>
    </li>
    <li th:each="page: ${#numbers.sequence(cartDTOs.getNavigateFirstPage(), cartDTOs.getNavigateLastPage())}" th:classappend="${page == cartDTOs.getPageNum()} ? 'active'">
        <a th:text="${page}" th:href="@{/cart(pageNum=${page},id=${session.custDTO.id})}"></a>
    </li>
    <li th:classappend="${cartDTOs.getNextPage() == 0} ? 'disabled'">
        <a th:href="@{/cart(pageNum=${cartDTOs.getNextPage()},id=${session.custDTO.id})}">Next</a>
    </li>
</ul>