<script>
    function handleCartDelBtnClick(id) {
        if(confirm(id + "을(를) 삭제하시겠습니까?")) {
            location.href="/cart/delete?id=" + id + "&cid=[[${session.custDTO.id}]]";
        }
    }
</script>
<h1>Get Cart Page</h1>
<form th:action="@{/carts/get}">
    <label for="searchName">이름:</label>
    <input id="searchName" type="text" th:name="searchName"/>
    <input type="submit" value="검색">
</form>
<div th:text="'현재 페이지의 총합: ' + ${#aggregates.sum(cartDTOs.getList().![item_price * cnt])}">
</div>
<div th:text="'전체 페이지의 총합: ' + ${#aggregates.sum(cartAllDTOs.![item_price * cnt])}">

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>이미지</th>
            <th>상품 아이디</th>
            <th>상품 이름</th>
            <th>상품 가격</th>
            <th>개수</th>
            <th>총합</th>
            <th>생성일자</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cartDTO : ${cartDTOs.getList()}">
            <td>
                <img th:src="'/img/' + ${cartDTO.item_imgname}"/>
            </td>
            <td th:text="${cartDTO.id}">id</td>
            <td th:text="${cartDTO.item_name}">item_name</td>
            <td th:text="${cartDTO.item_price}">item_price</td>
            <td th:text="${cartDTO.cnt}">count</td>
            <td th:text="${cartDTO.item_price} * ${cartDTO.cnt}"></td>
            <td th:text="${#dates.format(cartDTO.rdate, 'yyyy-MM-dd-hh-mm-ss')}">rdate</td>
            <td>
                <button th:onclick="handleCartDelBtnClick([[${cartDTO.id}]]);" type="button" class="btn btn-danger">
                    삭제
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagination center">
    <!-- getPrePage : 이전 페이지 -->
    <li th:classappend="${cartDTOs.getPrePage() == 0} ? 'disabled'">
        <a th:href="@{/cart(pageNum=${cartDTOs.getPrePage()},id=${session.custDTO.id})}">Previous</a>
    </li>
    <li th:each="page: ${#numbers.sequence(cartDTOs.getNavigateFirstPage(), cartDTOs.getNavigateLastPage())}" th:classappend="${page == cartDTOs.getPageNum()} ? 'active'">
        <a th:text="${page}" th:href="@{/cart(pageNum=${page},id=${session.custDTO.id})}"></a>
    </li>
    <li th:classappend="${cartDTOs.getNextPage() == 0} ? 'disabled'">
        <a th:href="@{/cart(pageNum=${cartDTOs.getNextPage()},id=${session.custDTO.id})}">Next</a>
    </li>
</ul>