<script>
    $(document).ready(function() {
        $('#register_form > button').click(function() {
            $('#register_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action': '[[@{/item/add}]]',
                    'method': 'post'
                }
            );
            $('#register_form').submit();
        });
        // form이 아닌 경우
    });
</script>
<div class="container">
    <h1>상품등록</h1>
    <form id="register_form">
        <div class="form-group">
            <label for="name">이름</label>
            <input id="name" type="text" name="name"/>
        </div>
        <div class="form-group">
            <label for="price">가격</label>
            <input id="price" type="number" name="price"/>
        </div>
        <div class="form-group">
            <label for="img">이미지</label>
            <input id="img" type="file" class="form-control" placeholder="상품이미지를 등록해주세요" name="img"/>
        </div>
        <button>등록</button>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("")
    });
</script>






















