<script>
    $(document).ready(function() {
        $('#celebrity_form > button').click(function() {
            $('#celebrity_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action': '[[@{/celebrityfacerecognitionimpl}]]',
                    'method': 'post'
                }
            );
            $('#celebrity_form').submit();
        });
        // form이 아닌 경우
    });
</script>
<div class="container">
    <h1>유명인 이미지 업로드</h1>
    <form id="celebrity_form">

        <div class="form-group">
            <label for="img">이미지</label>
            <input id="img" type="file" class="form-control" placeholder="분석할 이미지를 등록해주세요" name="img"/>
        </div>
        <button>등록</button>
    </form>
</div>