<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.MallMapper">
    <select id="search" parameterType="String" resultType="mallDTO">
        SELECT * FROM mall WHERE name LIKE CONCAT('%', #{txt}, '%')
    </select>
    <select id="select" parameterType="Integer" resultType="mallDTO">
        SELECT * FROM mall WHERE id=#{id}
    </select>

    <select id="selectall" resultType="mallDTO">
        SELECT * FROM mall
    </select>
    <insert id="insert" parameterType="mallDTO">
        INSERT INTO mall VALUES (null,#{name},#{address},#{imgname}, #{rdate},#{ownername},#{phonenumber})
    </insert>
    <update id="update" parameterType="mallDTO">
        UPDATE mall SET name=#{name},address=#{address},imgname=#{imgname},ownername=#{ownername},phonenumber=#{phonenumber} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM mall WHERE id=#{id}
    </delete>

</mapper>