<script>
  $(document).ready(function() {
      $('#update_btn').click(function() {
          $('#update_form').attr(
              {
                  'enctype': 'multipart/form-data',
                  'action': '[[@{/mall/update}]]',
                  'method': 'post'
              }
          );
          $('#update_form').submit();
      });
      // form이 아닌 경우
      $('#delete_btn').click(function(){
            id = $('#id').val();

            if (confirm(id + "를 삭제하시겠습니까?")) {
                location.href = '/mall/delete?id=' + id;
            }
        });
  });
</script>
<div class="container">
  <h1>매장 상세보기</h1>
  <form id="update_form">
    <div class="form-group">
      <label for="id">아이디:</label>
      <input id="id" type="text" name="id" th:value="${mallDTO.id}" readonly/>
  </div>
      <div class="form-group">
          <label for="name">이름:</label>
          <input id="name" type="text" name="name" th:value="${mallDTO.name}"/>
      </div>
      <div class="form-group">
          <label for="address">주소:</label>
          <input id="address" type="text" name="address" th:value="${mallDTO.address}"/>
      </div>
      <div class="form-group">
          <label for="phonenumber">전화번호:</label>
          <input id="phonenumber" type="text" name="phonenumber" th:value="${mallDTO.phonenumber}"/>
      </div>
      <div class="form-group">
          <label for="ownername">주인 이름:</label>
          <input id="ownername" type="text" name="ownername" th:value="${mallDTO.ownername}"/>
      </div>
      <div class="form-group">
        <label for="before_img">기존 이미지:</label>
        <img class="item_img" th:src="@{|/img/${mallDTO.imgname}|}" />
        <input  type="hidden" id="before_img" name="imgname" th:value="${mallDTO.imgname}"/>
    </div>
      <div class="form-group">
          <label for="img">새로운 이미지:</label>
          <input id="img" type="file" name="img" class="form-control" placeholder="매장 이미지를 등록해주세요"/>
      </div>
  </form>
  <button class="btn btn-default" id="update_btn">수정</button>
  <button class="btn btn-default" id="delete_btn">삭제</button>
</div>