<div class="container">
  <div class="col-sm-10">
    <h2>Mall 상세보기</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>주소</th>
        <th>이미지이름</th>
        <th>등록일자</th>
        <th>주인 이름</th>
        <th>전화번호</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="mallDTO : ${malls.getList()}">
          <td th:text="${mallDTO.id}">
            <a th:href="@{/mall/detail(id=${mallDTO.id})}">
            </a>
          </td>
          <td th:text="${mallDTO.name}"></td>
          <td th:text="${mallDTO.address}"></td>
          <td>
            <a th:href="@{/mall/detail(id=${mallDTO.id})}">
              <img class="item_img" th:src="'/img/' + ${mallDTO.imgname}"/>
            </a>
          </td>
          <td th:text="${mallDTO.rdate}"></td>
          <td th:text="${mallDTO.ownername}"></td>
          <td th:text="${mallDTO.phonenumber}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ul class="pagination center">
  <!-- getPrePage : 이전 페이지 -->
  <li th:classappend="${malls.getPrePage() == 0} ? 'disabled'">
    <a th:href="@{/mall/getpage(pageNum=${malls.getPrePage()})}">Previous</a>
  </li>
  <li th:each="page: ${#numbers.sequence(malls.getNavigateFirstPage(), malls.getNavigateLastPage())}" th:classappend="${page == malls.getPageNum()} ? 'active'">
    <a th:text="${page}" th:href="@{/mall/getpage(pageNum=${page})}"></a>
  </li>
  <li th:classappend="${malls.getNextPage() == 0} ? 'disabled'">
    <a th:href="@{/mall/getpage(pageNum=${malls.getNextPage()})}">Next</a>
  </li>
</ul>