<script>
    $(document).ready(function() {
        $('#ocrfacerecognition_form > button').click(function() {
            $('#ocrfacerecognition_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action': '[[@{/ocrfacerecognitionimpl}]]',
                    'method': 'post'
                }
            );
            $('#ocrfacerecognition_form').submit();
        });
        // form이 아닌 경우
    });
</script>
<div class="container">
  <h1>OCR Face Recognition</h1>
  <form id="ocrfacerecognition_form">

    <div class="form-group">
      <label for="img">이미지</label>
      <input id="img" type="file" class="form-control" placeholder="분석할 이미지를 등록해주세요" name="img"/>
    </div>
    <button>등록</button>
  </form>
</div>