<style>

</style>
<script>
    $(document).ready(function() {
        $('#ocr_form > button').click(function() {
            $('#ocr_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action': '[[@{/ocrimpl}]]',
                    'method': 'post'
                }
            );
            $('#ocr_form').submit();
        });
        // form이 아닌 경우
    });
</script>
<div class="container">
  <div class="col-sm-5">
    <h2>OCR Result</h2>
    <h3 th:text="'법인명:' + ${name}"></h3>
    <h3 th:text="'등록번호:' + ${num}"></h3>
    <img th:src="'/img/' + ${imgname}" alt="img" style="width: 500px;"/>
  </div>
</div>