<script>
    $(document).ready(function () {
        $('#id_dup_check_form > button').click(function() {
            const id = $('#id').val();
            console.log('id: ', id);
            if (id == '') {
                alert("아이디를 입력해주세요!");
                e.preventDefault();
                return;
            }
            const url = '/check-duplicate-id';
            const data = JSON.stringify({
                'id': id
            });
            $('#id_dup_check_form').attr(
                {
                    'action': '[[@{/check-duplicate-id}]]',
                    'method': 'post'
                }
            )
            $('#id_dup_check_form').submit();
        });

        $('#register_form > button').click((e) => {
            if ( $('#pwd').val() != $('#confirm_pwd').val() ) {
                alert("비밀번호와 재입력 비밀번호가 일치하지 않습니다!");
                $('#pwd').val("");
                $('#confirm_pwd').val("");
                e.preventDefault();
                return;
            }
            $('#register_form').attr (
                {
                    'action': '[[@{/registerimpl}]]',
                    'method': 'post'
                }
            );
            $('#register_form').submit();
        });
    });
</script>

<div class="container">
    <h1>회원가입</h1>
    <form id="id_dup_check_form">
        <div class="form-group">
            <label for="id">아이디:</label>
            <input id="id" type="text" th:value="${id}" name="id"/>
        </div>
        <button id="id_duplicate_check_btn">아이디중복체크</button>
<!--        <a th:href="@{/check-duplicate-id(id=${})}"></a>-->
        <p th:if="${msg != null}" th:text="${msg}" th:style="${style}"></p>
        <p th:if="${msg == null}"></p>
    </form>
    <form id="register_form">
        <input th:value="${id}" style="display: none;" name="id"/>
        <div class="form-group">
            <label for="name">이름:</label>
            <input id="name" type="text" name="name"/>
        </div>
        <div class="form-group">
            <label for="pwd">비밀번호:</label>
            <input id="pwd"type="password" name="pwd"/>
        </div>
        <div class="form-group">
            <label for="confirm_pwd">비밀번호 재입력:</label>
            <input id="confirm_pwd" type="password" name="pwd"/>
        </div>
        <button id="register_btn">회원가입</button>
    </form>
<!--    <a th:href="@{/test(id='testId')}">test</a>-->
</div>























